/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Wildcard selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  overflow: scroll; /* Show scrollbars */
  font-family: 'Lato', sans-serif;
}

main {
  /* Push main content down to accommodate larger header */
  margin-top: 190px;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4caf50;
}

hr {
  height: 1em;
  border: 0;
  box-shadow: 0 10px 10px -10px #454b1b inset;
}

/* Header */
header {
  background-color: #191825;
  padding: 1rem 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 2px 2px #4caf50;
}

header a {
  text-decoration: none;
  color: #4caf50;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-top: 1em;
}

nav ul {
  display: flex;
  flex-direction: column;
}

#menu a:hover {
  border-bottom: 1px solid #454b1b;
}

/* Hero section */
#hero {
  height: 400px;
  width: 100%;
  background: url("../images/heroimage.jpg") no-repeat center center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cover-text {
  position: absolute;
  bottom: 200px;
}

#cover-text > h2, #cover-text > p  {
  color: #4caf50;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

#cover-text > p {
  font-size: 1.8em;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

/* Technologies Section */
#technologyPage {
  width: 90%;
  margin: 20px auto;
  display: grid;
  gap: 1em 1em;
  /* grid-template-columns: repeat(3, 1fr) */
}

#technologyPage h2 {
  justify-self: center;
  color: #48a54c;
}

.box {
  border: solid 1px #454b1b;
}

.box p {
  color: #3a3a3a;
  display: grid;
  text-align: center;
}

/* Aside section */
#aside-layout {
  background-color: #191825;
  padding: 10px 0;
}

.aside {
  margin: auto;
  width: 90%;
}

.aside > div {
  margin-bottom: 10px;
}

.aside ol {
  margin-left: 10px;
  margin-bottom: 20px;
}

.aside p, .aside li {
  color: #fafafa;
  margin-bottom: 0.5em;
}

#two-col-layout {
  margin: 20px auto;
}

.figure img {
  max-width: 100%;
}

/* Sign up section */
#signUp-box {
  width: 90%;
  margin: 20px auto;
}

#signUp-box h2 {
  border-bottom: 4px solid #4caf50;
  color: #48a54c;
  text-align: center;
}

.textbox {
  overflow: hidden;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.textbox i {
  width: 25px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  font-size: 1em;
  float: left;
  margin: 0 10px;
}

::placeholder {
  color: #3a3a3a;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  padding: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 12px 0;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Footer */
footer {
  background-color: #191825;
  color: #fafafa;
}

#row {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  margin-bottom: 0.5em;
  text-align: center;
}

/* Contact us */
.contact-network > div {
  display: flex;
}

.contact-network a {
  color: #fafafa;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.5em;
  white-space: nowrap
}

.contact-network p, #aboutUs p {
  margin-bottom: 0.5em;
  font-weight: bold;
}

#aboutUs p {
  text-align: left;
}

.contact-network a:hover {
  border-bottom: 1px solid #454b1b;
}

/* FollowUs */
#followUs ul li {
  list-style-type: none;
}

#followUs ul li a {
  text-decoration: none;
}

#social-networks {
  display: flex;
  gap: 0.2em 0.5em;
  margin-left: 0.5em;
  justify-content: center;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #fafafa;
}

#social-networks i:hover {
  border-bottom: 1px solid #454b1b;
}

/* 404 error page */
#error-message {
  text-align: center;
}

#error-message h1 {
  margin-bottom: 10px;
  font-size: 3em;
}

#error-message p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.error-link {
  text-decoration: none;
  color: #3a3a3a;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

  main {
    /* Push main content down to accommodate larger header */
    margin-top: 100px;
  }

  /* Technologies Section */
  #technologyPage h2 {
    font-size: 280%;
    grid-column: span 2;
  }

  #technologyPage {
    margin: 40px auto;
  }

  .box p {
    font-size: 1.3em;
  }

  /* Aside section */
  .aside h3 {
    font-size: 180%;
  }

  .aside p {
    font-size: 1.3em;
  }

  .aside li {
    font-size: 1.2em;
  }

  /* Sign-up section */
  #signUp {
    padding: 10px 0;
  }
   
  #signUp-box {
    width: 50%;
  }

  .textbox input {
    width: 80%;
  }

  /* Contact us section */
  .contact-network {
    width: 30%;
    margin: auto;
  }

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  #menu {
    display: flex;
    font-size: 130%;
  }

  #menu > li {
    padding-left: 1rem;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Navbar */
  nav ul {
    flex-direction: row;
  }

  /* Footer */
  #social-networks {
    margin-left: 0;
  }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

  /* Hero Section */
  #hero {
    height: 600px;
  }
  
  /* Technology section */
  .box {
    width: 70%;
    margin: auto;
  }

  /* Aside section */
  #two-col-layout {
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
  }
  
  .aside {
    margin: auto;
    width: 70%;
  }

  .aside-right {
    margin: 20px auto;
  }

  /* Sign-up section */
  #two-col-layout-signUp {
    width: 90%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px auto;
  }

  #signUp-box {
    width: 50%;
    margin: auto;
  }

  .hidden {
    display: block;
  }

  /* Footer */
  #row {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  #contactUs, #aboutUs, #followUs {
    flex-basis: 100%;
  }

  .footerHr {
    width: 50%;
    margin: auto;
  }

  /* Contact us section */
  .contact-network {
    width: 50%;
    margin: auto;
  }

}