/* Wildcard selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  overflow: scroll; /* Show scrollbars */
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

/* Header */
header {
  background-color: rgb(101 101 131);
  padding: 1rem 1rem;
  /* position: fixed; */
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-right: 0.5em;
}

nav ul {
  display: flex;
  flex-direction: row;
}

/* Footer */
footer {
  background-color: rgb(101 101 131);
  /* width: 100%; */
}

#row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

#row hr {
  /* border: solid 1px #252525; */
  height: 1em;
  border: 0;
  box-shadow: 0 10px 10px -10px #333 inset;
}

.followUs ul li {
  list-style-type: none;
}

.followUs ul li a {
  text-decoration: none;
  color: #3a3a3a;
}

/* Media query: mobile phones */
@media screen and (max-width: 768px) {
  /* Header */
  header {
    display: block;
  }

  header a {
    font-size: 0.8em;
  }

  /* Navbar */
  nav ul {
    display: block;
  }

  /* Footer */
  #row {
    width: 100%;
    flex-direction: column;
  }

  #row h3 {
    font-size: 0.8em;
  }

}